.card {
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 50px 20px;
}

.title {
    width: 100%;
    display: flex;
    background: #e6e6e6;
    justify-content: space-between;
}

.title div {
    display: flex;
    align-items: center;
}

h1 {
    width: 1024px;
    margin-bottom: 0px;
}

.title+div {
    margin-top: 0px;
}

.title div h1 {
    width: 100%;
    background: #e6e6e6;
    color: #1e6998;
    justify-content: left;
    padding-left: 40px;
}

.date {
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: gray;
    font-size: 1.6rem;
}

.container div section {
    margin-top: 20px;
}

.container {
    margin: 0px 0px 0px 40px;
    padding-top: 10px;
    display: flex;
}

section {
    color: #1e6998;
    font-size: 1.2rem;
}

p {
    color: black;
}

.imagem img {
    width: 100%;
    border: 0px;
}

div.dados {
    width: 70%;
    padding-right: 30px;
}

div.imagem {
    width: 30%;
    margin-top: -10px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.list-genero {
    margin-left: -10px;
}